DB_USER=username
DB_PASSWORD=password
DB_HOST=postgres
DB_NAME=wishlist_db
REDIS_URL=redis://redis:6379/0
FRONTEND_URL=http://localhost:5173
ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost, http://localhost:5173

ALGORITHM=HS256
SECRET_KEY=your_secret_key